body {
  background-color: rgb(206, 225, 233);
  background-image: url(https://mars.nasa.gov/system/resources/detail_files/7857_mars-curiosity-rover-self-portrait-looking-back-pia20603-full2.jpg);
  background-size: cover;
}

.jumbotron {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/pia22313.jpg);
  background-size: cover;
  color: antiquewhite;
}

.viewProof:hover, .newLocation:hover, .curiosityFollowed, .Bigfoot:hover {
  cursor: pointer;
}

.showBackstory {
  display: none;
  color: antiquewhite;
}

img {
  width: 350px;
  padding: 1px;
  float: left;
}

/* img {
  width: 200px;
  height: auto;
} */

.showBackstory p {
  background-color: gray;
}

.showRocks p {
  background-color: gray;
}

.showFootprints p {
  background-color: gray;
}

.showBigfoot p {
  background-color: gray;
}

.showRocks {
  display: none;
  color: antiquewhite;
}

.showFootprints {
  display: none;
  color: antiquewhite;
}

.showBigfoot {
  display: none;
  color: antiquewhite;
}

.noImages {
  display: none;
}

#card {
  background: rgba(255, 122, 89 .5);
}

.bigfoot img {
  width: 300px;
}